Django==6.1.2
dj-database-url>=3.0,<4
psycopg[binary]>=3.2,<4
django-storages[s3]>=1.14,<2
Markdown>=3.8,<4
nh3>=0.3,<1
Pygments>=2.19,<3
Pillow>=11,<13
gunicorn>=23,<24
whitenoise>=6.9,<7
python-dotenv>=1.1,<2
